# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env
.env.*

# Models & logs
models/
*.h5
*.ckpt
*.log

# OS and editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# ngrok binary
ngrok.exe
